[storage]
db_path = "boros.db"

[server]
listen_address="0.0.0.0:50052"

[peer_manager]
peers = [
    "Node:3001",
    "Node:3001",
]
desired_peer_count = 10
peers_per_request = 10

[monitor]
# old tx inflight will be retried when reach a value bigger than retry_slot_diff
retry_slot_diff = 1000

[u5c]
uri = "https://mainnet.utxorpc-v0.demeter.run"

# metadata is optional
[u5c.metadata]
"dmtr-api-key" = "your key"

[priority]
quote = 5
[[priority.queues]]
name = "banana"
weight = 2

